wsdl/Controller.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions name="ControllerService"
			 targetNamespace="http://wisebed.eu/api/v3/controller"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:controller="http://wisebed.eu/api/v3/controller"
			 xmlns:xs="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<types>
		<xs:schema>
			<xs:import namespace="http://wisebed.eu/api/v3/controller" schemaLocation="Controller.xsd" />
		</xs:schema>
	</types>

	<message name="reservationStarted">
		<part name="parameters" element="controller:reservationStarted" />
	</message>
	<message name="reservationEnded">
		<part name="parameters" element="controller:reservationEnded" />
	</message>
	<message name="receive">
		<part name="parameters" element="controller:receive" />
	</message>
	<message name="receiveNotification">
		<part name="parameters" element="controller:receiveNotification" />
	</message>
	<message name="receiveStatus">
		<part name="parameters" element="controller:receiveStatus" />
	</message>

	<portType name="Controller">
		<operation name="reservationStarted">
			<input message="controller:reservationStarted" />
		</operation>
		<operation name="reservationEnded">
			<input message="controller:reservationEnded" />
		</operation>
		<operation name="receive">
			<input message="controller:receive" />
		</operation>
		<operation name="receiveNotification">
			<input message="controller:receiveNotification" />
		</operation>
		<operation name="receiveStatus">
			<input message="controller:receiveStatus" />
		</operation>
	</portType>

	<binding name="ControllerPortBinding" type="controller:Controller">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="reservationStarted">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="reservationEnded">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="receive">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="receiveNotification">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="receiveStatus">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<service name="ControllerService">
		<port name="ControllerPort" binding="controller:ControllerPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>

</definitions>
