wsdl/RS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RSService"
			 targetNamespace="http://wisebed.eu/api/v3/rs"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:rs="http://wisebed.eu/api/v3/rs"
			 xmlns:common="http://wisebed.eu/api/v3/common"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<types>
		<xs:schema>
            <xs:import namespace="http://wisebed.eu/api/v3/common" schemaLocation="Common.xsd"/>
			<xs:import namespace="http://wisebed.eu/api/v3/rs" schemaLocation="RS.xsd"/>
		</xs:schema>
	</types>

	<message name="getConfidentialReservations">
		<part name="parameters" element="rs:getConfidentialReservations"/>
	</message>
	<message name="getConfidentialReservationsResponse">
		<part name="parameters" element="rs:getConfidentialReservationsResponse"/>
	</message>

	<message name="getReservations">
		<part name="parameters" element="rs:getReservations"/>
	</message>
	<message name="getReservationsResponse">
		<part name="parameters" element="rs:getReservationsResponse"/>
	</message>
	<message name="RSFault">
		<part name="fault" element="rs:RSFault"/>
	</message>
	<message name="getReservation">
		<part name="parameters" element="rs:getReservation"/>
	</message>
	<message name="getReservationResponse">
		<part name="parameters" element="rs:getReservationResponse"/>
	</message>
	<message name="UnknownSecretReservationKeyFault">
		<part name="fault" element="common:UnknownSecretReservationKeyFault"/>
	</message>
	<message name="deleteReservation">
		<part name="parameters" element="rs:deleteReservation"/>
	</message>
	<message name="deleteReservationResponse">
		<part name="parameters" element="rs:deleteReservationResponse"/>
	</message>
	<message name="makeReservation">
		<part name="parameters" element="rs:makeReservation"/>
	</message>
	<message name="makeReservationResponse">
		<part name="parameters" element="rs:makeReservationResponse"/>
	</message>
	<message name="AuthorizationFault">
		<part name="fault" element="common:AuthorizationFault"/>
	</message>
	<message name="ReservationConflictFault">
		<part name="fault" element="rs:ReservationConflictFault"/>
	</message>
	<portType name="RS">
		<operation name="getReservations">
			<input message="rs:getReservations"/>
			<output message="rs:getReservationsResponse"/>
			<fault message="rs:RSFault" name="RSFault"/>
		</operation>
		<operation name="getReservation">
			<input message="rs:getReservation"/>
			<output message="rs:getReservationResponse"/>
			<fault message="rs:RSFault" name="RSFault"/>
			<fault message="rs:UnknownSecretReservationKeyFault" name="UnknownSecretReservationKeyFault"/>
		</operation>
		<operation name="deleteReservation">
			<input message="rs:deleteReservation"/>
			<output message="rs:deleteReservationResponse"/>
			<fault message="rs:RSFault" name="RSFault"/>
			<fault message="rs:UnknownSecretReservationKeyFault" name="UnknownSecretReservationKeyFault"/>
            <fault message="rs:AuthorizationFault" name="AuthorizationFault" />
		</operation>
		<operation name="makeReservation">
			<input message="rs:makeReservation"/>
			<output message="rs:makeReservationResponse"/>
			<fault message="rs:AuthorizationFault" name="AuthorizationFault"/>
			<fault message="rs:RSFault" name="RSFault"/>
			<fault message="rs:ReservationConflictFault" name="ReservationConflictFault"/>
		</operation>
		
		<operation name="getConfidentialReservations">
			<input message="rs:getConfidentialReservations"/>
			<output message="rs:getConfidentialReservationsResponse"/>
			<fault message="rs:RSFault" name="RSFault"/>
		</operation>
		
		
	</portType>
	<binding name="RSPortBinding" type="rs:RS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getReservations">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="RSFault">
				<soap:fault name="RSFault" use="literal"/>
			</fault>
		</operation>
	
		<operation name="getConfidentialReservations">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="RSFault">
				<soap:fault name="RSFault" use="literal"/>
			</fault>
		</operation>
		
		
		<operation name="getReservation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="RSFault">
				<soap:fault name="RSFault" use="literal"/>
			</fault>
			<fault name="UnknownSecretReservationKeyFault">
				<soap:fault name="UnknownSecretReservationKeyFault" use="literal"/>
			</fault>
		</operation>
		<operation name="deleteReservation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="RSFault">
				<soap:fault name="RSFault" use="literal"/>
			</fault>
			<fault name="UnknownSecretReservationKeyFault">
				<soap:fault name="UnknownSecretReservationKeyFault" use="literal"/>
			</fault>
            <fault name="AuthorizationFault">
                <soap:fault name="AuthorizationFault" use="literal"/>
            </fault>
		</operation>
		<operation name="makeReservation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AuthorizationFault">
				<soap:fault name="AuthorizationFault" use="literal"/>
			</fault>
			<fault name="RSFault">
				<soap:fault name="RSFault" use="literal"/>
			</fault>
			<fault name="ReservationConflictFault">
				<soap:fault name="ReservationConflictFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="RSService">
		<port name="RSPort" binding="rs:RSPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/>
		</port>
	</service>
</definitions>
