wsdl/RS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:RSService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:RSService" name="RSService">

	<types>
		<xsd:schema>
			<xsd:import namespace="urn:RSService" schemaLocation="RSTypes.xsd"/>
		</xsd:schema>
	</types>

	<message name="getConfidentialReservations">
		<part name="parameters" element="tns:getConfidentialReservations"/>
	</message>
	<message name="getConfidentialReservationsResponse">
		<part name="parameters" element="tns:getConfidentialReservationsResponse"/>
	</message>

	<message name="getReservations">
		<part name="parameters" element="tns:getReservations"/>
	</message>
	<message name="getReservationsResponse">
		<part name="parameters" element="tns:getReservationsResponse"/>
	</message>
	<message name="RSException_Exception">
		<part name="fault" element="tns:RSFault"/>
	</message>
	<message name="getReservation">
		<part name="parameters" element="tns:getReservation"/>
	</message>
	<message name="getReservationResponse">
		<part name="parameters" element="tns:getReservationResponse"/>
	</message>
	<message name="ReservationNotFoundException_Exception">
		<part name="fault" element="tns:ReservationNotFoundFault"/>
	</message>
	<message name="deleteReservation">
		<part name="parameters" element="tns:deleteReservation"/>
	</message>
	<message name="deleteReservationResponse">
		<part name="parameters" element="tns:deleteReservationResponse"/>
	</message>
	<message name="makeReservation">
		<part name="parameters" element="tns:makeReservation"/>
	</message>
	<message name="makeReservationResponse">
		<part name="parameters" element="tns:makeReservationResponse"/>
	</message>
	<message name="AuthorizationException_Exception">
		<part name="fault" element="tns:AuthorizationFault"/>
	</message>
	<message name="ReservationConflictException_Exception">
		<part name="fault" element="tns:ReservationConflictFault"/>
	</message>
	<portType name="RS">
		<operation name="getReservations">
			<input message="tns:getReservations"/>
			<output message="tns:getReservationsResponse"/>
			<fault message="tns:RSException_Exception" name="RSException_Exception"/>
		</operation>
		<operation name="getReservation">
			<input message="tns:getReservation"/>
			<output message="tns:getReservationResponse"/>
			<fault message="tns:RSException_Exception" name="RSException_Exception"/>
			<fault message="tns:ReservationNotFoundException_Exception" name="ReservationNotFoundException_Exception"/>
		</operation>
		<operation name="deleteReservation">
			<input message="tns:deleteReservation"/>
			<output message="tns:deleteReservationResponse"/>
			<fault message="tns:RSException_Exception" name="RSException_Exception"/>
			<fault message="tns:ReservationNotFoundException_Exception" name="ReservationNotFoundException_Exception"/>
		</operation>
		<operation name="makeReservation">
			<input message="tns:makeReservation"/>
			<output message="tns:makeReservationResponse"/>
			<fault message="tns:AuthorizationException_Exception" name="AuthorizationException_Exception"/>
			<fault message="tns:RSException_Exception" name="RSException_Exception"/>
			<fault message="tns:ReservationConflictException_Exception" name="ReservationConflictException_Exception"/>
		</operation>
		
		<operation name="getConfidentialReservations">
			<input message="tns:getConfidentialReservations"/>
			<output message="tns:getConfidentialReservationsResponse"/>
			<fault message="tns:RSException_Exception" name="RSException_Exception"/>
		</operation>
		
		
	</portType>
	<binding name="RSPortBinding" type="tns:RS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getReservations">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="RSException_Exception">
				<soap:fault name="RSException_Exception" use="literal"/>
			</fault>
		</operation>
	
		<operation name="getConfidentialReservations">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="RSException_Exception">
				<soap:fault name="RSException_Exception" use="literal"/>
			</fault>
		</operation>
		
		
		<operation name="getReservation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="RSException_Exception">
				<soap:fault name="RSException_Exception" use="literal"/>
			</fault>
			<fault name="ReservationNotFoundException_Exception">
				<soap:fault name="ReservationNotFoundException_Exception" use="literal"/>
			</fault>
		</operation>
		<operation name="deleteReservation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="RSException_Exception">
				<soap:fault name="RSException_Exception" use="literal"/>
			</fault>
			<fault name="ReservationNotFoundException_Exception">
				<soap:fault name="ReservationNotFoundException_Exception" use="literal"/>
			</fault>
		</operation>
		<operation name="makeReservation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AuthorizationException_Exception">
				<soap:fault name="AuthorizationException_Exception" use="literal"/>
			</fault>
			<fault name="RSException_Exception">
				<soap:fault name="RSException_Exception" use="literal"/>
			</fault>
			<fault name="ReservationConflictException_Exception">
				<soap:fault name="ReservationConflictException_Exception" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="RSService">
		<port name="RSPort" binding="tns:RSPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/>
		</port>
	</service>
</definitions>
