wsdl/SM.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions name="SessionManagementService"
			 targetNamespace="http://wisebed.eu/api/v3/sm"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:sm="http://wisebed.eu/api/v3/sm"
			 xmlns:common="http://wisebed.eu/api/v3/common"
			 xmlns:xs="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<types>
		<xs:schema>
			<xs:import namespace="http://wisebed.eu/api/v3/common" schemaLocation="Common.xsd" />
			<xs:import namespace="http://wisebed.eu/api/v3/sm" schemaLocation="SM.xsd" />
		</xs:schema>
	</types>

	<message name="areNodesConnected">
		<part name="parameters" element="sm:areNodesConnected" />
	</message>
	<message name="areNodesConnectedResponse">
		<part name="parameters" element="sm:areNodesConnectedResponse" />
	</message>
	<message name="getConfiguration">
		<part name="parameters" element="sm:getConfiguration" />
	</message>
	<message name="getConfigurationResponse">
		<part name="parameters" element="sm:getConfigurationResponse" />
	</message>
	<message name="getInstance">
		<part name="parameters" element="sm:getInstance" />
	</message>
	<message name="getInstanceResponse">
		<part name="parameters" element="sm:getInstanceResponse" />
	</message>
	<message name="getNetwork">
		<part name="parameters" element="common:getNetwork" />
	</message>
	<message name="getNetworkResponse">
		<part name="parameters" element="common:getNetworkResponse" />
	</message>
	<message name="getSupportedChannelHandlers">
		<part name="parameters" element="sm:getSupportedChannelHandlers" />
	</message>
	<message name="getSupportedChannelHandlersResponse">
		<part name="parameters" element="sm:getSupportedChannelHandlersResponse" />
	</message>
	<message name="getSupportedVirtualLinkFilters">
		<part name="parameters" element="sm:getSupportedVirtualLinkFilters" />
	</message>
	<message name="getSupportedVirtualLinkFiltersResponse">
		<part name="parameters" element="sm:getSupportedVirtualLinkFiltersResponse" />
	</message>
	<message name="getVersion">
		<part name="parameters" element="sm:getVersion" />
	</message>
	<message name="getVersionResponse">
		<part name="parameters" element="sm:getVersionResponse" />
	</message>

	<message name="ExperimentNotRunningFault">
		<part name="fault" element="sm:ExperimentNotRunningFault" />
	</message>
	<message name="UnknownSecretReservationKeyFault">
		<part name="fault" element="common:UnknownSecretReservationKeyFault" />
	</message>

	<portType name="SessionManagement">
		<operation name="areNodesConnected">
			<input message="sm:areNodesConnected" />
			<output message="sm:areNodesConnectedResponse" />
		</operation>
		<operation name="getConfiguration">
			<input message="sm:getConfiguration" />
			<output message="sm:getConfigurationResponse" />
		</operation>
		<operation name="getInstance">
			<input message="sm:getInstance" />
			<output message="sm:getInstanceResponse" />
			<fault message="sm:ExperimentNotRunningFault" name="ExperimentNotRunningFault" />
			<fault message="sm:UnknownSecretReservationKeyFault" name="UnknownSecretReservationKeyFault" />
		</operation>
		<operation name="getNetwork">
			<input message="sm:getNetwork" />
			<output message="sm:getNetworkResponse" />
		</operation>
		<operation name="getSupportedChannelHandlers">
			<input message="sm:getSupportedChannelHandlers" />
			<output message="sm:getSupportedChannelHandlersResponse" />
		</operation>
		<operation name="getSupportedVirtualLinkFilters">
			<input message="sm:getSupportedVirtualLinkFilters" />
			<output message="sm:getSupportedVirtualLinkFiltersResponse" />
		</operation>
		<operation name="getVersion">
			<input message="sm:getVersion" />
			<output message="sm:getVersionResponse" />
		</operation>
	</portType>

	<binding name="SessionManagementPortBinding" type="sm:SessionManagement">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="areNodesConnected">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getConfiguration">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getInstance">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ExperimentNotRunningFault">
				<soap:fault name="ExperimentNotRunningFault" use="literal" />
			</fault>
			<fault name="UnknownSecretReservationKeyFault">
				<soap:fault name="UnknownSecretReservationKeyFault" use="literal" />
			</fault>
		</operation>
		<operation name="getNetwork">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getSupportedChannelHandlers">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getSupportedVirtualLinkFilters">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getVersion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="SessionManagementService">
		<port name="SessionManagementPort" binding="sm:SessionManagementPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>

</definitions>

