wsdl/SNAA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SNAAService"
			 targetNamespace="http://wisebed.eu/api/v3/snaa"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:snaa="http://wisebed.eu/api/v3/snaa"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <types>
        <xs:schema>
            <xs:import namespace="http://wisebed.eu/api/v3/snaa" schemaLocation="SNAA.xsd"/>
        </xs:schema>
    </types>

    <message name="authenticate">
        <part name="parameters" element="snaa:authenticate"/>
    </message>
    <message name="authenticateResponse">
        <part name="parameters" element="snaa:authenticateResponse"/>
    </message>
    <message name="AuthenticationExceptionException">
        <part name="fault" element="snaa:AuthenticationFault"/>
    </message>
    <message name="SNAAExceptionException">
        <part name="fault" element="snaa:SNAAFault"/>
    </message>
    <message name="isAuthorized">
        <part name="parameters" element="snaa:isAuthorized"/>
    </message>
    <message name="isAuthorizedResponse">
        <part name="parameters" element="snaa:isAuthorizedResponse"/>
    </message>
    <message name="isValid">
        <part name="parameters" element="snaa:isValid"/>
    </message>
    <message name="isValidResponse">
        <part name="parameters" element="snaa:isValidResponse"/>
    </message>

    <portType name="SNAA">
        <operation name="authenticate">
            <input message="snaa:authenticate"/>
            <output message="snaa:authenticateResponse"/>
            <fault message="snaa:AuthenticationExceptionException" name="AuthenticationExceptionException"/>
            <fault message="snaa:SNAAExceptionException" name="SNAAExceptionException"/>
        </operation>
        <operation name="isAuthorized">
            <input message="snaa:isAuthorized"/>
            <output message="snaa:isAuthorizedResponse"/>
            <fault message="snaa:SNAAExceptionException" name="SNAAExceptionException"/>
        </operation>
        <operation name="isValid">
            <input message="snaa:isValid"/>
            <output message="snaa:isValidResponse"/>
            <fault message="snaa:SNAAExceptionException" name="SNAAExceptionException"/>
        </operation>
    </portType>

    <binding name="SNAAPortBinding" type="snaa:SNAA">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="authenticate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AuthenticationExceptionException">
                <soap:fault name="AuthenticationExceptionException" use="literal"/>
            </fault>
            <fault name="SNAAExceptionException">
                <soap:fault name="SNAAExceptionException" use="literal"/>
            </fault>
        </operation>
        <operation name="isAuthorized">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SNAAExceptionException">
                <soap:fault name="SNAAExceptionException" use="literal"/>
            </fault>
        </operation>
        <operation name="isValid">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SNAAExceptionException">
                <soap:fault name="SNAAExceptionException" use="literal"/>
            </fault>
        </operation>

    </binding>

    <service name="SNAAService">
        <port name="SNAAPort" binding="snaa:SNAAPortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>

</definitions>