wsdl/WSN.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
		   targetNamespace="http://wisebed.eu/api/v3/wsn"
		   xmlns="http://wisebed.eu/api/v3/wsn"
		   xmlns:common="http://wisebed.eu/api/v3/common"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://wisebed.eu/api/v3/common" schemaLocation="Common.xsd" />

	<xs:complexType name="addController">
		<xs:sequence>
			<xs:element name="controllerEndpointUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addControllerResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="areNodesAlive">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="nodeUrns" type="xs:string" nillable="true" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="areNodesAliveResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="ChannelHandlerConfiguration">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="configuration" type="common:KeyValuePair" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChannelPipelinesMap">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="channelHandlers" type="ChannelHandlerConfiguration" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="destroyVirtualLink">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="sourceNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="targetNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="destroyVirtualLinkResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="disableNode">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="nodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="disableNodeResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="disablePhysicalLink">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="sourceNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="targetNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="disablePhysicalLinkResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="disableVirtualization">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="disableVirtualizationResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="enableVirtualization">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="enableVirtualizationResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="enableNode">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="nodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enableNodeResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="enablePhysicalLink">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="sourceNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="targetNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enablePhysicalLinkResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="flashPrograms">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="configurations" type="FlashProgramsConfiguration" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="flashProgramsResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="getChannelPipelines">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getChannelPipelinesResponse">
		<xs:sequence>
			<xs:element name="return" type="ChannelPipelinesMap" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getSupportedVirtualLinkFilters">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="getSupportedVirtualLinkFiltersResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getVersion">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="getVersionResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FlashProgramsConfiguration">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="program" type="xs:base64Binary" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="removeController">
		<xs:sequence>
			<xs:element name="controllerEndpointUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="removeControllerResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="resetNodes">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="nodeUrns" type="xs:string" nillable="true" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resetNodesResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="send">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="nodeUrns" type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="message" type="xs:base64Binary" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sendResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="setChannelPipeline">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="nodeUrns" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="channelHandlerConfigurations" type="ChannelHandlerConfiguration" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="setChannelPipelineResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="setVirtualLink">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" maxOccurs="1" minOccurs="1" />
			<xs:element name="sourceNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="targetNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="remoteServiceInstance" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="parameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="setVirtualLinkResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="VirtualizationNotSupported">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="addController" type="addController"/>
	<xs:element name="addControllerResponse" type="addControllerResponse"/>
	<xs:element name="areNodesAlive" type="areNodesAlive" />
	<xs:element name="areNodesAliveResponse" type="areNodesAliveResponse" />
	<xs:element name="destroyVirtualLink" type="destroyVirtualLink" />
	<xs:element name="destroyVirtualLinkResponse" type="setVirtualLinkResponse" />
	<xs:element name="disableNode" type="disableNode" />
	<xs:element name="disableNodeResponse" type="disableNodeResponse" />
	<xs:element name="disablePhysicalLink" type="disablePhysicalLink" />
	<xs:element name="disablePhysicalLinkResponse" type="disablePhysicalLinkResponse" />
	<xs:element name="disableVirtualization" type="disableVirtualization" />
	<xs:element name="disableVirtualizationResponse" type="disableVirtualizationResponse" />
	<xs:element name="enableVirtualization" type="enableVirtualization" />
	<xs:element name="enableVirtualizationResponse" type="enableVirtualizationResponse" />
	<xs:element name="enableNode" type="enableNode" />
	<xs:element name="enableNodeResponse" type="enableNodeResponse" />
	<xs:element name="enablePhysicalLink" type="enablePhysicalLink" />
	<xs:element name="enablePhysicalLinkResponse" type="enablePhysicalLinkResponse" />
	<xs:element name="flashPrograms" type="flashPrograms" />
	<xs:element name="flashProgramsResponse" type="flashProgramsResponse" />
	<xs:element name="getChannelPipelines" type="getChannelPipelines" />
	<xs:element name="getChannelPipelinesResponse" type="getChannelPipelinesResponse" />
	<xs:element name="getSupportedVirtualLinkFilters" type="getSupportedVirtualLinkFilters" />
	<xs:element name="getSupportedVirtualLinkFiltersResponse" type="getSupportedVirtualLinkFiltersResponse" />
	<xs:element name="getVersion" type="getVersion" />
	<xs:element name="getVersionResponse" type="getVersionResponse" />
	<xs:element name="removeController" type="removeController"/>
	<xs:element name="removeControllerResponse" type="removeControllerResponse"/>
	<xs:element name="resetNodes" type="resetNodes" />
	<xs:element name="resetNodesResponse" type="resetNodesResponse" />
	<xs:element name="send" type="send" />
	<xs:element name="sendResponse" type="sendResponse" />
	<xs:element name="setChannelPipeline" type="setChannelPipeline" />
	<xs:element name="setChannelPipelineResponse" type="setChannelPipelineResponse" />
	<xs:element name="setVirtualLink" type="setVirtualLink" />
	<xs:element name="setVirtualLinkResponse" type="setVirtualLinkResponse" />

	<xs:element name="VirtualizationNotSupported" type="VirtualizationNotSupported" />

</xs:schema>

