wsdl/WSN.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions name="WSNService"
			 targetNamespace="http://wisebed.eu/api/v3/wsn"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:wsn="http://wisebed.eu/api/v3/wsn"
			 xmlns:common="http://wisebed.eu/api/v3/common"
			 xmlns:xs="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<types>
		<xs:schema>
			<xs:import namespace="http://wisebed.eu/api/v3/common" schemaLocation="Common.xsd" />
			<xs:import namespace="http://wisebed.eu/api/v3/wsn" schemaLocation="WSN.xsd" />
		</xs:schema>
	</types>

	<message name="addController">
		<part name="parameters" element="wsn:addController"/>
	</message>
	<message name="addControllerResponse">
		<part name="parameters" element="wsn:addControllerResponse"/>
	</message>
	<message name="areNodesAlive">
		<part name="parameters" element="wsn:areNodesAlive" />
	</message>
	<message name="areNodesAliveResponse">
		<part name="parameters" element="wsn:areNodesAliveResponse" />
	</message>
	<message name="destroyVirtualLinks">
		<part name="parameters" element="wsn:destroyVirtualLinks" />
	</message>
	<message name="destroyVirtualLinksResponse">
		<part name="parameters" element="wsn:destroyVirtualLinksResponse" />
	</message>
	<message name="disableNodes">
		<part name="parameters" element="wsn:disableNodes" />
	</message>
	<message name="disableNodesResponse">
		<part name="parameters" element="wsn:disableNodesResponse" />
	</message>
	<message name="disablePhysicalLinks">
		<part name="parameters" element="wsn:disablePhysicalLinks" />
	</message>
	<message name="disablePhysicalLinksResponse">
		<part name="parameters" element="wsn:disablePhysicalLinksResponse" />
	</message>
	<message name="disableVirtualization">
		<part name="parameters" element="wsn:disableVirtualization" />
	</message>
	<message name="disableVirtualizationResponse">
		<part name="parameters" element="wsn:disableVirtualizationResponse" />
	</message>
	<message name="enableVirtualization">
		<part name="parameters" element="wsn:enableVirtualization" />
	</message>
	<message name="enableVirtualizationResponse">
		<part name="parameters" element="wsn:enableVirtualizationResponse" />
	</message>
	<message name="enableNodes">
		<part name="parameters" element="wsn:enableNodes" />
	</message>
	<message name="enableNodesResponse">
		<part name="parameters" element="wsn:enableNodesResponse" />
	</message>
	<message name="enablePhysicalLinks">
		<part name="parameters" element="wsn:enablePhysicalLinks" />
	</message>
	<message name="enablePhysicalLinksResponse">
		<part name="parameters" element="wsn:enablePhysicalLinksResponse" />
	</message>
	<message name="flashPrograms">
		<part name="parameters" element="wsn:flashPrograms" />
	</message>
	<message name="flashProgramsResponse">
		<part name="parameters" element="wsn:flashProgramsResponse" />
	</message>
	<message name="getChannelPipelines">
		<part name="parameters" element="wsn:getChannelPipelines" />
	</message>
	<message name="getChannelPipelinesResponse">
		<part name="parameters" element="wsn:getChannelPipelinesResponse" />
	</message>
	<message name="getNetwork">
		<part name="parameters" element="common:getNetwork" />
	</message>
	<message name="getNetworkResponse">
		<part name="parameters" element="common:getNetworkResponse" />
	</message>
	<message name="getVersion">
		<part name="parameters" element="wsn:getVersion" />
	</message>
	<message name="getVersionResponse">
		<part name="parameters" element="wsn:getVersionResponse" />
	</message>
	<message name="removeController">
		<part name="parameters" element="wsn:removeController"/>
	</message>
	<message name="removeControllerResponse">
		<part name="parameters" element="wsn:removeControllerResponse"/>
	</message>
	<message name="resetNodes">
		<part name="parameters" element="wsn:resetNodes" />
	</message>
	<message name="resetNodesResponse">
		<part name="parameters" element="wsn:resetNodesResponse" />
	</message>
	<message name="send">
		<part name="parameters" element="wsn:send" />
	</message>
	<message name="sendResponse">
		<part name="parameters" element="wsn:sendResponse" />
	</message>
	<message name="setChannelPipeline">
		<part name="parameters" element="wsn:setChannelPipeline" />
	</message>
	<message name="setChannelPipelineResponse">
		<part name="parameters" element="wsn:setChannelPipelineResponse" />
	</message>
	<message name="setSerialPortParameters">
		<part name="parameters" element="wsn:setSerialPortParameters" />
	</message>
	<message name="setSerialPortParametersResponse">
		<part name="parameters" element="wsn:setSerialPortParametersResponse" />
	</message>
	<message name="setVirtualLinks">
		<part name="parameters" element="wsn:setVirtualLinks" />
	</message>
	<message name="setVirtualLinksResponse">
		<part name="parameters" element="wsn:setVirtualLinksResponse" />
	</message>

	<message name="VirtualizationNotSupported">
		<part name="fault" element="wsn:VirtualizationNotSupported" />
	</message>

	<portType name="WSN">
		<operation name="addController">
			<input message="wsn:addController"/>
			<output message="wsn:addControllerResponse"/>
		</operation>
		<operation name="areNodesAlive">
			<input message="wsn:areNodesAlive" />
			<output message="wsn:areNodesAliveResponse" />
		</operation>
		<operation name="destroyVirtualLinks">
			<input message="wsn:destroyVirtualLinks" />
			<output message="wsn:destroyVirtualLinksResponse" />
		</operation>
		<operation name="disableNodes">
			<input message="wsn:disableNodes" />
			<output message="wsn:disableNodesResponse" />
		</operation>
		<operation name="disablePhysicalLinks">
			<input message="wsn:disablePhysicalLinks" />
			<output message="wsn:disablePhysicalLinksResponse" />
		</operation>
		<operation name="disableVirtualization">
			<input message="wsn:disableVirtualization" />
			<output message="wsn:disableVirtualizationResponse" />
			<fault message="wsn:VirtualizationNotSupported" name="VirtualizationNotSupported" />
		</operation>
		<operation name="enableVirtualization">
			<input message="wsn:enableVirtualization" />
			<output message="wsn:enableVirtualizationResponse" />
			<fault message="wsn:VirtualizationNotSupported" name="VirtualizationNotSupported" />
		</operation>
		<operation name="enableNodes">
			<input message="wsn:enableNodes" />
			<output message="wsn:enableNodesResponse" />
		</operation>
		<operation name="enablePhysicalLinks">
			<input message="wsn:enablePhysicalLinks" />
			<output message="wsn:enablePhysicalLinksResponse" />
		</operation>
		<operation name="flashPrograms">
			<input message="wsn:flashPrograms" />
			<output message="wsn:flashProgramsResponse" />
		</operation>
		<operation name="getChannelPipelines">
			<input message="wsn:getChannelPipelines" />
			<output message="wsn:getChannelPipelinesResponse" />
		</operation>
		<operation name="getNetwork">
			<input message="wsn:getNetwork" />
			<output message="wsn:getNetworkResponse" />
		</operation>
		<operation name="getVersion">
			<input message="wsn:getVersion" />
			<output message="wsn:getVersionResponse" />
		</operation>
		<operation name="removeController">
			<input message="wsn:removeController"/>
			<output message="wsn:removeControllerResponse"/>
		</operation>
		<operation name="resetNodes">
			<input message="wsn:resetNodes" />
			<output message="wsn:resetNodesResponse" />
		</operation>
		<operation name="send">
			<input message="wsn:send" />
			<output message="wsn:sendResponse" />
		</operation>
		<operation name="setChannelPipeline">
			<input message="wsn:setChannelPipeline" />
			<output message="wsn:setChannelPipelineResponse" />
		</operation>
		<operation name="setSerialPortParameters">
			<input message="wsn:setSerialPortParameters" />
			<output message="wsn:setSerialPortParametersResponse" />
		</operation>
		<operation name="setVirtualLinks">
			<input message="wsn:setVirtualLinks" />
			<output message="wsn:setVirtualLinksResponse" />
		</operation>
	</portType>

	<binding name="WSNPortBinding" type="wsn:WSN">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="addController">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="areNodesAlive">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="destroyVirtualLinks">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="disableNodes">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="disablePhysicalLinks">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="disableVirtualization">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="VirtualizationNotSupported">
				<soap:fault name="VirtualizationNotSupported" use="literal"/>
			</fault>
		</operation>
		<operation name="enableVirtualization">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="VirtualizationNotSupported">
				<soap:fault name="VirtualizationNotSupported" use="literal"/>
			</fault>
		</operation>
		<operation name="enableNodes">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="enablePhysicalLinks">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="flashPrograms">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getChannelPipelines">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getNetwork">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getVersion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="removeController">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="resetNodes">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="send">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="setChannelPipeline">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="setSerialPortParameters">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="setVirtualLinks">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="WSNService">
		<port name="WSNPort" binding="wsn:WSNPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>

</definitions>

