wsdl/WSN.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions name="WSNService"
			 targetNamespace="http://wisebed.eu/api/v3/wsn"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:wsn="http://wisebed.eu/api/v3/wsn"
			 xmlns:common="http://wisebed.eu/api/v3/common"
			 xmlns:xs="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<types>
		<xs:schema>
			<xs:import namespace="http://wisebed.eu/api/v3/common" schemaLocation="Common.xsd" />
			<xs:import namespace="http://wisebed.eu/api/v3/wsn" schemaLocation="WSN.xsd" />
		</xs:schema>
	</types>

	<message name="addController">
		<part name="parameters" element="wsn:addController"/>
	</message>
	<message name="addControllerResponse">
		<part name="parameters" element="wsn:addControllerResponse"/>
	</message>
	<message name="areNodesAlive">
		<part name="parameters" element="wsn:areNodesAlive" />
	</message>
	<message name="areNodesAliveResponse">
		<part name="parameters" element="wsn:areNodesAliveResponse" />
	</message>
	<message name="destroyVirtualLink">
		<part name="parameters" element="wsn:destroyVirtualLink" />
	</message>
	<message name="destroyVirtualLinkResponse">
		<part name="parameters" element="wsn:destroyVirtualLinkResponse" />
	</message>
	<message name="disableNode">
		<part name="parameters" element="wsn:disableNode" />
	</message>
	<message name="disableNodeResponse">
		<part name="parameters" element="wsn:disableNodeResponse" />
	</message>
	<message name="disablePhysicalLink">
		<part name="parameters" element="wsn:disablePhysicalLink" />
	</message>
	<message name="disablePhysicalLinkResponse">
		<part name="parameters" element="wsn:disablePhysicalLinkResponse" />
	</message>
	<message name="disableVirtualization">
		<part name="parameters" element="wsn:disableVirtualization" />
	</message>
	<message name="disableVirtualizationResponse">
		<part name="parameters" element="wsn:disableVirtualizationResponse" />
	</message>
	<message name="enableVirtualization">
		<part name="parameters" element="wsn:enableVirtualization" />
	</message>
	<message name="enableVirtualizationResponse">
		<part name="parameters" element="wsn:enableVirtualizationResponse" />
	</message>
	<message name="enableNode">
		<part name="parameters" element="wsn:enableNode" />
	</message>
	<message name="enableNodeResponse">
		<part name="parameters" element="wsn:enableNodeResponse" />
	</message>
	<message name="enablePhysicalLink">
		<part name="parameters" element="wsn:enablePhysicalLink" />
	</message>
	<message name="enablePhysicalLinkResponse">
		<part name="parameters" element="wsn:enablePhysicalLinkResponse" />
	</message>
	<message name="flashPrograms">
		<part name="parameters" element="wsn:flashPrograms" />
	</message>
	<message name="flashProgramsResponse">
		<part name="parameters" element="wsn:flashProgramsResponse" />
	</message>
	<message name="getChannelPipelines">
		<part name="parameters" element="wsn:getChannelPipelines" />
	</message>
	<message name="getChannelPipelinesResponse">
		<part name="parameters" element="wsn:getChannelPipelinesResponse" />
	</message>
	<message name="getSupportedVirtualLinkFilters">
		<part name="parameters" element="wsn:getSupportedVirtualLinkFilters" />
	</message>
	<message name="getSupportedVirtualLinkFiltersResponse">
		<part name="parameters" element="wsn:getSupportedVirtualLinkFiltersResponse" />
	</message>
	<message name="getSupportedChannelHandlers">
		<part name="parameters" element="wsn:getSupportedChannelHandlers" />
	</message>
	<message name="getSupportedChannelHandlersResponse">
		<part name="parameters" element="wsn:getSupportedChannelHandlersResponse" />
	</message>
	<message name="getNetwork">
		<part name="parameters" element="common:getNetwork" />
	</message>
	<message name="getNetworkResponse">
		<part name="parameters" element="common:getNetworkResponse" />
	</message>
	<message name="getVersion">
		<part name="parameters" element="wsn:getVersion" />
	</message>
	<message name="getVersionResponse">
		<part name="parameters" element="wsn:getVersionResponse" />
	</message>
	<message name="removeController">
		<part name="parameters" element="wsn:removeController"/>
	</message>
	<message name="removeControllerResponse">
		<part name="parameters" element="wsn:removeControllerResponse"/>
	</message>
	<message name="resetNodes">
		<part name="parameters" element="wsn:resetNodes" />
	</message>
	<message name="resetNodesResponse">
		<part name="parameters" element="wsn:resetNodesResponse" />
	</message>
	<message name="send">
		<part name="parameters" element="wsn:send" />
	</message>
	<message name="sendResponse">
		<part name="parameters" element="wsn:sendResponse" />
	</message>
	<message name="setChannelPipeline">
		<part name="parameters" element="wsn:setChannelPipeline" />
	</message>
	<message name="setChannelPipelineResponse">
		<part name="parameters" element="wsn:setChannelPipelineResponse" />
	</message>
	<message name="setVirtualLink">
		<part name="parameters" element="wsn:setVirtualLink" />
	</message>
	<message name="setVirtualLinkResponse">
		<part name="parameters" element="wsn:setVirtualLinkResponse" />
	</message>

	<message name="VirtualizationNotSupported">
		<part name="fault" element="wsn:VirtualizationNotSupported" />
	</message>

	<portType name="WSN">
		<operation name="addController">
			<input message="wsn:addController"/>
			<output message="wsn:addControllerResponse"/>
		</operation>
		<operation name="areNodesAlive">
			<input message="wsn:areNodesAlive" />
			<output message="wsn:areNodesAliveResponse" />
		</operation>
		<operation name="destroyVirtualLink">
			<input message="wsn:destroyVirtualLink" />
			<output message="wsn:destroyVirtualLinkResponse" />
		</operation>
		<operation name="disableNode">
			<input message="wsn:disableNode" />
			<output message="wsn:disableNodeResponse" />
		</operation>
		<operation name="disablePhysicalLink">
			<input message="wsn:disablePhysicalLink" />
			<output message="wsn:disablePhysicalLinkResponse" />
		</operation>
		<operation name="disableVirtualization">
			<input message="wsn:disableVirtualization" />
			<output message="wsn:disableVirtualizationResponse" />
			<fault message="wsn:VirtualizationNotSupported" name="VirtualizationNotSupported" />
		</operation>
		<operation name="enableVirtualization">
			<input message="wsn:enableVirtualization" />
			<output message="wsn:enableVirtualizationResponse" />
			<fault message="wsn:VirtualizationNotSupported" name="VirtualizationNotSupported" />
		</operation>
		<operation name="enableNode">
			<input message="wsn:enableNode" />
			<output message="wsn:enableNodeResponse" />
		</operation>
		<operation name="enablePhysicalLink">
			<input message="wsn:enablePhysicalLink" />
			<output message="wsn:enablePhysicalLinkResponse" />
		</operation>
		<operation name="flashPrograms">
			<input message="wsn:flashPrograms" />
			<output message="wsn:flashProgramsResponse" />
		</operation>
		<operation name="getChannelPipelines">
			<input message="wsn:getChannelPipelines" />
			<output message="wsn:getChannelPipelinesResponse" />
		</operation>
		<operation name="getSupportedChannelHandlers">
			<input message="wsn:getSupportedChannelHandlers" />
			<output message="wsn:getSupportedChannelHandlersResponse" />
		</operation>
		<operation name="getSupportedVirtualLinkFilters">
			<input message="wsn:getSupportedVirtualLinkFilters" />
			<output message="wsn:getSupportedVirtualLinkFiltersResponse" />
		</operation>
		<operation name="getNetwork">
			<input message="wsn:getNetwork" />
			<output message="wsn:getNetworkResponse" />
		</operation>
		<operation name="getVersion">
			<input message="wsn:getVersion" />
			<output message="wsn:getVersionResponse" />
		</operation>
		<operation name="removeController">
			<input message="wsn:removeController"/>
			<output message="wsn:removeControllerResponse"/>
		</operation>
		<operation name="resetNodes">
			<input message="wsn:resetNodes" />
			<output message="wsn:resetNodesResponse" />
		</operation>
		<operation name="send">
			<input message="wsn:send" />
			<output message="wsn:sendResponse" />
		</operation>
		<operation name="setChannelPipeline">
			<input message="wsn:setChannelPipeline" />
			<output message="wsn:setChannelPipelineResponse" />
		</operation>
		<operation name="setVirtualLink">
			<input message="wsn:setVirtualLink" />
			<output message="wsn:setVirtualLinkResponse" />
		</operation>
	</portType>

	<binding name="WSNPortBinding" type="wsn:WSN">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="addController">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="areNodesAlive">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="destroyVirtualLink">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="disableNode">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="disablePhysicalLink">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="disableVirtualization">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="VirtualizationNotSupported">
				<soap:fault name="VirtualizationNotSupported" use="literal"/>
			</fault>
		</operation>
		<operation name="enableVirtualization">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="VirtualizationNotSupported">
				<soap:fault name="VirtualizationNotSupported" use="literal"/>
			</fault>
		</operation>
		<operation name="enableNode">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="enablePhysicalLink">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="flashPrograms">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getChannelPipelines">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getSupportedChannelHandlers">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getSupportedVirtualLinkFilters">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getNetwork">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getVersion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="removeController">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="resetNodes">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="send">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="setChannelPipeline">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="setVirtualLink">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="WSNService">
		<port name="WSNPort" binding="wsn:WSNPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>

</definitions>

