wsdl/WSN.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
		   targetNamespace="http://wisebed.eu/api/v3/wsn"
		   xmlns="http://wisebed.eu/api/v3/wsn"
		   xmlns:common="http://wisebed.eu/api/v3/common"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://wisebed.eu/api/v3/common" schemaLocation="Common.xsd" />

	<xs:complexType name="Link">
		<xs:sequence>
			<xs:element name="sourceNodeUrn" type="common:NodeUrn" />
			<xs:element name="targetNodeUrn" type="common:NodeUrn" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="addController">
		<xs:sequence>
			<xs:element name="controllerEndpointUrl" type="xs:string" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addControllerResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="areNodesAlive">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="nodeUrns" type="common:NodeUrn" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="areNodesAliveResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="ChannelHandlerConfiguration">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="configuration" type="common:KeyValuePair" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChannelPipelinesMap">
		<xs:sequence>
			<xs:element name="nodeUrns" type="common:NodeUrn" maxOccurs="unbounded" />
			<xs:element name="channelHandlers" type="ChannelHandlerConfiguration" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disableVirtualLinks">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="links" type="Link" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="disableVirtualLinksResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="disableNodes">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="nodeUrns" type="common:NodeUrn" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="disableNodesResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="disablePhysicalLinks">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="links" type="Link" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="disablePhysicalLinksResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="disableVirtualization">
		<xs:sequence>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="disableVirtualizationResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="enableVirtualization">
		<xs:sequence>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enableVirtualizationResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="enableNodes">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="nodeUrns" type="common:NodeUrn" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enableNodesResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="enablePhysicalLinks">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="links" type="Link" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enablePhysicalLinksResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="flashPrograms">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="configurations" type="FlashProgramsConfiguration" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="flashProgramsResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="getChannelPipelines">
		<xs:sequence>
			<xs:element name="nodeUrns" type="common:NodeUrn" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getChannelPipelinesResponse">
		<xs:sequence>
			<xs:element name="return" type="ChannelPipelinesMap" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FlashProgramsConfiguration">
		<xs:sequence>
			<xs:element name="nodeUrns" type="common:NodeUrn" maxOccurs="unbounded" />
			<xs:element name="program" type="xs:base64Binary" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="removeController">
		<xs:sequence>
			<xs:element name="controllerEndpointUrl" type="xs:string" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="removeControllerResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="resetNodes">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="nodeUrns" type="common:NodeUrn"  maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resetNodesResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="send">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="nodeUrns" type="common:NodeUrn" maxOccurs="unbounded" />
			<xs:element name="message" type="xs:base64Binary" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sendResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="setChannelPipeline">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="nodeUrns" type="common:NodeUrn" maxOccurs="unbounded" />
			<xs:element name="channelHandlerConfigurations" type="ChannelHandlerConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="setChannelPipelineResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="setSerialPortParameters">
		<xs:sequence>
			<xs:element name="nodeUrns" type="common:NodeUrn" maxOccurs="unbounded" />
			<xs:element name="parameters" type="SerialPortParameters" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="setSerialPortParametersResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="SerialPortParameters">
		<xs:sequence>
			<xs:element name="baudRate" type="xs:int" />
			<xs:element name="dataBits" type="DataBits" />
			<xs:element name="stopBits" type="StopBits" />
			<xs:element name="parity" type="Parity" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="DataBits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DATABITS_5" />
			<xs:enumeration value="DATABITS_6" />
			<xs:enumeration value="DATABITS_7" />
			<xs:enumeration value="DATABITS_8" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StopBits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="STOPBITS_1" />
			<xs:enumeration value="STOPBITS_1_5" />
			<xs:enumeration value="STOPBITS_2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Parity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PARITY_EVEN" />
			<xs:enumeration value="PARITY_MARK" />
			<xs:enumeration value="PARITY_NONE" />
			<xs:enumeration value="PARITY_ODD" />
			<xs:enumeration value="PARITY_SPACE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="enableVirtualLinks">
		<xs:sequence>
			<xs:element name="requestId" type="common:requestId" />
			<xs:element name="links" type="VirtualLink" maxOccurs="unbounded" />
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enableVirtualLinksResponse">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="VirtualLink">
		<xs:sequence>
			<xs:element name="sourceNodeUrn" type="common:NodeUrn" />
			<xs:element name="targetNodeUrn" type="common:NodeUrn" />
			<xs:element name="remoteWSNServiceEndpointUrl" type="xs:string" />
			<xs:element name="parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filters" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReservationNotRunningFault">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VirtualizationNotEnabledFault">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VirtualizationNotSupportedFault">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="addController" type="addController"/>
	<xs:element name="addControllerResponse" type="addControllerResponse"/>

	<xs:element name="areNodesAlive" type="areNodesAlive" />
	<xs:element name="areNodesAliveResponse" type="areNodesAliveResponse" />

	<xs:element name="disableVirtualLinks" type="disableVirtualLinks" />
	<xs:element name="disableVirtualLinksResponse" type="disableVirtualLinksResponse" />

	<xs:element name="disableNodes" type="disableNodes" />
	<xs:element name="disableNodesResponse" type="disableNodesResponse" />

	<xs:element name="disablePhysicalLinks" type="disablePhysicalLinks" />
	<xs:element name="disablePhysicalLinksResponse" type="disablePhysicalLinksResponse" />

	<xs:element name="disableVirtualization" type="disableVirtualization" />
	<xs:element name="disableVirtualizationResponse" type="disableVirtualizationResponse" />

	<xs:element name="enableVirtualization" type="enableVirtualization" />
	<xs:element name="enableVirtualizationResponse" type="enableVirtualizationResponse" />

	<xs:element name="enableNodes" type="enableNodes" />
	<xs:element name="enableNodesResponse" type="enableNodesResponse" />

	<xs:element name="enablePhysicalLinks" type="enablePhysicalLinks" />
	<xs:element name="enablePhysicalLinksResponse" type="enablePhysicalLinksResponse" />

	<xs:element name="flashPrograms" type="flashPrograms" />
	<xs:element name="flashProgramsResponse" type="flashProgramsResponse" />

	<xs:element name="getChannelPipelines" type="getChannelPipelines" />
	<xs:element name="getChannelPipelinesResponse" type="getChannelPipelinesResponse" />

	<xs:element name="removeController" type="removeController"/>
	<xs:element name="removeControllerResponse" type="removeControllerResponse"/>

	<xs:element name="resetNodes" type="resetNodes" />
	<xs:element name="resetNodesResponse" type="resetNodesResponse" />

	<xs:element name="send" type="send" />
	<xs:element name="sendResponse" type="sendResponse" />

	<xs:element name="setChannelPipeline" type="setChannelPipeline" />
	<xs:element name="setChannelPipelineResponse" type="setChannelPipelineResponse" />

	<xs:element name="setSerialPortParameters" type="setSerialPortParameters" />
	<xs:element name="setSerialPortParametersResponse" type="setSerialPortParametersResponse" />

	<xs:element name="enableVirtualLinks" type="enableVirtualLinks" />
	<xs:element name="enableVirtualLinksResponse" type="enableVirtualLinksResponse" />

	<xs:element name="ReservationNotRunningFault" type="ReservationNotRunningFault" />
	<xs:element name="VirtualizationNotEnabledFault" type="VirtualizationNotEnabledFault" />
	<xs:element name="VirtualizationNotSupportedFault" type="VirtualizationNotSupportedFault" />

</xs:schema>

