wsdl/WSNTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema targetNamespace="urn:WSNService"
		   xmlns:tns="urn:WSNService"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ct="urn:CommonTypes"
		   version="1.0">

	<xs:import namespace="urn:CommonTypes" schemaLocation="CommonTypes.xsd" />

	<xs:complexType name="addController">
		<xs:sequence>
			<xs:element name="controllerEndpointUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addControllerResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="areNodesAlive">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" nillable="true" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="areNodesAliveResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChannelHandlerConfiguration">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="configuration" type="ct:KeyValuePair" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChannelHandlerDescription">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="configurationOptions" type="ct:KeyValuePair" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChannelPipelinesMap">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="channelHandlers" type="tns:ChannelHandlerConfiguration" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="destroyVirtualLink">
		<xs:sequence>
			<xs:element name="sourceNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="targetNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="destroyVirtualLinkResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disableNode">
		<xs:sequence>
			<xs:element name="nodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="disableNodeResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disablePhysicalLink">
		<xs:sequence>
			<xs:element name="sourceNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="targetNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="disablePhysicalLinkResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disableVirtualization">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="disableVirtualizationResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="enableVirtualization">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="enableVirtualizationResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="enableNode">
		<xs:sequence>
			<xs:element name="nodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enableNodeResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="enablePhysicalLink">
		<xs:sequence>
			<xs:element name="sourceNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="targetNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enablePhysicalLinkResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="flashPrograms">
		<xs:sequence>
			<xs:element name="configurations" type="tns:FlashProgramsConfiguration" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="flashProgramsResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getChannelPipelines">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getChannelPipelinesResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:ChannelPipelinesMap" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFilters">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="getFiltersResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="getSupportedChannelHandlers">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="getSupportedChannelHandlersResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:ChannelHandlerDescription" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getVersion">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="getVersionResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FlashProgramsConfiguration">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="program" type="xs:base64Binary" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="removeController">
		<xs:sequence>
			<xs:element name="controllerEndpointUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="removeControllerResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="resetNodes">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" nillable="true" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resetNodesResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="send">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="message" type="ct:message" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sendResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="setChannelPipeline">
		<xs:sequence>
			<xs:element name="nodeUrns" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="channelHandlerConfigurations" type="tns:ChannelHandlerConfiguration" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="setChannelPipelineResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="setVirtualLink">
		<xs:sequence>
			<xs:element name="sourceNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="targetNodeUrn" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="remoteServiceInstance" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="parameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="setVirtualLinkResponse">
		<xs:sequence>
			<xs:element name="return" type="ct:requestId" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VirtualizationNotSupported">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="addController" type="tns:addController"/>
	<xs:element name="addControllerResponse" type="tns:addControllerResponse"/>
	<xs:element name="areNodesAlive" type="tns:areNodesAlive" />
	<xs:element name="areNodesAliveResponse" type="tns:areNodesAliveResponse" />
	<xs:element name="destroyVirtualLink" type="tns:destroyVirtualLink" />
	<xs:element name="destroyVirtualLinkResponse" type="tns:setVirtualLinkResponse" />
	<xs:element name="disableNode" type="tns:disableNode" />
	<xs:element name="disableNodeResponse" type="tns:disableNodeResponse" />
	<xs:element name="disablePhysicalLink" type="tns:disablePhysicalLink" />
	<xs:element name="disablePhysicalLinkResponse" type="tns:disablePhysicalLinkResponse" />
	<xs:element name="disableVirtualization" type="tns:disableVirtualization" />
	<xs:element name="disableVirtualizationResponse" type="tns:disableVirtualizationResponse" />
	<xs:element name="enableVirtualization" type="tns:enableVirtualization" />
	<xs:element name="enableVirtualizationResponse" type="tns:enableVirtualizationResponse" />
	<xs:element name="enableNode" type="tns:enableNode" />
	<xs:element name="enableNodeResponse" type="tns:enableNodeResponse" />
	<xs:element name="enablePhysicalLink" type="tns:enablePhysicalLink" />
	<xs:element name="enablePhysicalLinkResponse" type="tns:enablePhysicalLinkResponse" />
	<xs:element name="flashPrograms" type="tns:flashPrograms" />
	<xs:element name="flashProgramsResponse" type="tns:flashProgramsResponse" />
	<xs:element name="getChannelPipelines" type="tns:getChannelPipelines" />
	<xs:element name="getChannelPipelinesResponse" type="tns:getChannelPipelinesResponse" />
	<xs:element name="getFilters" type="tns:getFilters" />
	<xs:element name="getFiltersResponse" type="tns:getFiltersResponse" />
	<xs:element name="getSupportedChannelHandlers" type="tns:getSupportedChannelHandlers" />
	<xs:element name="getSupportedChannelHandlersResponse" type="tns:getSupportedChannelHandlersResponse" />
	<xs:element name="getVersion" type="tns:getVersion" />
	<xs:element name="getVersionResponse" type="tns:getVersionResponse" />
	<xs:element name="removeController" type="tns:removeController"/>
	<xs:element name="removeControllerResponse" type="tns:removeControllerResponse"/>
	<xs:element name="resetNodes" type="tns:resetNodes" />
	<xs:element name="resetNodesResponse" type="tns:resetNodesResponse" />
	<xs:element name="send" type="tns:send" />
	<xs:element name="sendResponse" type="tns:sendResponse" />
	<xs:element name="setChannelPipeline" type="tns:setChannelPipeline" />
	<xs:element name="setChannelPipelineResponse" type="tns:setChannelPipelineResponse" />
	<xs:element name="setVirtualLink" type="tns:setVirtualLink" />
	<xs:element name="setVirtualLinkResponse" type="tns:setVirtualLinkResponse" />

	<xs:element name="VirtualizationNotSupported" type="tns:VirtualizationNotSupported" />

</xs:schema>

